<%- include header %>
<% posts.forEach(function (post, index) { %>
    <li><p class="tag">Username</p>：<%= post.username %></li>
    <li><p class="tag">Password</p>：<%= post.password %></li
    ----------------------------------------------------------------------------
<% }) %>
<%- include paging %>
<%- include footer %>
